.nav{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 9% 15vh 0;
}

.navBottom{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7vh;
}

.premium{
    background: linear-gradient(180deg, #000000 0%, #121212 100%) !important;
    border: 2px solid #7B7B7B;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.premium:hover{
    cursor: pointer;
}

.premiumInner{
    max-width: max-content;
    display: flex;
    padding-left: 5%;
}

.stats{
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-left: 3%;
    gap: 3%;
    align-items: center;
}

.stats:hover{
    cursor: pointer;
}

.statsIcon{
    vertical-align: middle;
    /* border: 1px solid black; */
}
