.nav{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    padding: 3% 9% 4% 0;
}

.navBottom{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7vh;
}

.premium{
    background: linear-gradient(180deg, #000000 0%, #121212 100%) !important;
    border: 2px solid #7B7B7B;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.premiumInner{
    max-width: max-content;
    display: flex;
    padding-left: 5%;
}
